header{
  text-align: center;
}

.numberInputClass{
  width: 35px
}

.outputDivClass{
  border: solid;
  border-width: thick;
  border-radius: 5px;
  border-color: #ff0000;
  background-color: #e0e0e0;
  display: inline-block;
}

.otaClass{
  border-style: solid;
  border-width: thick;
  border-radius: 5px;
}

.outputClass{
  background-color: white;
}

#outputDivChildID{
  background-color: white;
  border-color: purple;
  border-style: solid;
  border-style: outset;
  border-width: thick;
  border-radius: 10px;

  padding: 5px;
}

.titleDiv{
  background-color: #ff0000;
}

.primaryLabelClass{
  font-size: 20px;
  margin: 4px 2px;
  color: white;
}

.secondaryLabelClass{
  font-size: 20px;
  margin: 4px 2px;
  color: white;
}

.sotaClass{
  border-style: solid;
  border-width: thick;
  border-radius: 10px;
  outline: none;
  resize: none;
}

#pOutputDiv{

}

#sOutputDiv{
  display: none
}

.outputButtonDivClass{
  background-color: #a10000;
}

.outputButtonClass{
  background-color: #a10000;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 0px 0px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.outputButtonClass:hover{
  background-color: #e00000;
}

.flex-container{
  display: flex;
}

.flex-child{
  flex: 1;
  border: 2px;
}

.flex-child:first-child{
  margin-right: 20px;
}

#guideTextID{
  outline: none;
  border: none;
  height: 750px;
}

#titleLabelID{
  display: block;
  text-align: center;
}

.switch{
  position: relative;
  display: inline-block;
  width: 47px;
  height: 17px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before{
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background: black;
  -webkit-transition: -4s;
  transition: .4s;
}

input:checked + .slider{
  background-color: grey;
}

input:focus + .slider{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before{
  -webkit-transition: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius: 50%;
}

li{
  display: inline;

}

li a{
  display:block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #17ed00;
}

a{
  float: left;
  display:block;
  padding:8px;
  background-color: #a3ff99;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #a3ff99;
}
